.body {
    width: 100%;
    height: 100%;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
    background-color: #fff;
    
    
}
.div{
    display: block;
}
.box-index{
    width: 100%;
    height:764px;
    background-color: red;
    background: url(../images/xiaomibox/bg-top.jpg)no-repeat center center;

   
}
.box-wall{
    width: 100%;
    height: 1147px;
    background-color: rgb(237, 237, 237);
}

.box-screen{
    height: 1372px;
    background-color: #ecf4fb;
}
.box-compare{
    height: 945px;
    
    margin-top: -20px;
}
.box-game{
    height: 850px;
    background-color: darkblue;
    background: url(../images/xiaomibox/bg-game.jpg)no-repeat center center;
 

}
.box-dts{
    height: 1000px;
    background-color: darkkhaki;
    background: url(../images/xiaomibox/index-yinxiao-bg.jpg)no-repeat center center;
 


}
.box-use{
    height: 500px;
    background-color: rgb(238, 238, 238);
    margin-top: -20px;
}
.box-usb{
    height: 800px;
    background-color: #fff;
   
 
}
.box-design{
    height: 766px;
    background-color: tan;
    background: url(../images/xiaomibox/index-reward-bg.jpg)no-repeat center center;
}
.box-foot{
    height: 300px;
    margin-top: 0px;
    animation: 3s change infinite linear;
   
   


}
.box-foot-img{
    width: 1226px;
    height: 300px;
    background: url(../images/xiaomibox/index-itspatchwall-img.png)no-repeat  top right;
    margin-right: auto;
    margin-left: auto;
}
.wall-text{
    width: 1226px;
    height: 342px;
    
    margin: 0 auto;
}
.wall-img-group{
   height: 736px;
   
   background: url(../images/xiaomibox/pic.png) no-repeat;
   background-size:cover;
}
.box-screen-pic{
    height: 800px;
    margin-top: 100px;
    /* background: url(../images/xiaomibox/index-tengxun-slider5.jpg)no-repeat top center;; */
}
.box-screen-pic img{
    display: block;
    margin: 0 auto;
}
.box-compare-pic{
    height: 413.64px;
    
    margin-top: 100px;
}  

.imgbox{
    
    position:absolute;
    width: 539px;
    height: 308px;
    margin-top: 50px;
    margin-left: 260px;
    
}
.img00{
    position:absolute;
    width: 539px;
    height: 308px;
    margin-top:20px;
   margin-left: 90px;
     z-index: 11;
     opacity: 1;
}
.img01{
    position:absolute;
    opacity: 0;
    width: 475px;
    height: 267px;
    margin-top:40px;
    margin-left: 100px;
    z-index: 10;
   
}
.img01ani{
    opacity: .8;
    animation: spread 1.5s;
    animation-fill-mode: forwards;
}
.img02{
    opacity: 0;
    position:absolute;
    width: 422px;
    height: 238px;
    margin-left: 100px;
    margin-top:50px;
    z-index: 9;
    
}
.img02ani{
    opacity: .6;
    animation: spread02 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .4s
}
.img03{
    opacity: 0;
    position:absolute;
    width: 384px;
    height: 223px;
    margin-left: 175px;
    margin-top:55px;
    z-index: 8;
   
}
.img03ani{
    opacity: .4;
    animation: spread03 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .6s
}
.img04{
    position:absolute;
    opacity: 0;
    margin-top:65px;
    width: 330px;
    height: 192px;
    margin-left: 250px;
    padding-left:-10px;
    z-index:7;
   
}
.img04ani{
    opacity:.2;
    animation: spread04 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .8s
}
.imgbox2{
    position:absolute;
    width: 529px;
    height: 308px;
    
    margin-top: 50px;
    margin-left: 980px;
    
}
.img0{
    position:absolute;
    width: 539px;
    height: 308px;
    margin-top:20px;
  
     z-index: 11;
     opacity: 1;
}
.img1{
    position:absolute;
   
    width: 519px;
    height: 299px;
    margin-top: 24px;
    margin-left: 5px;
    z-index: 10;
    opacity: .9;

}
.img1ani{
    animation: spread1 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .1s
}

.img2{

 position:absolute;
    width: 439px;
    height: 285px;
    margin-left: 85px;

    margin-top:30px;
    z-index: 9;
    opacity: .8;
}
.img2ani{
    animation: spread2 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .2s
}
.img3{
    position:absolute;
    width: 465px;
    height: 269px;
    margin-left: 50px;
   
    margin-top:30px;
    z-index: 8;
    opacity: .7;
}
.img3ani{
    animation: spread3 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .3s
}
.img4{
    position:absolute;
   
    margin-top:35px;
    width: 439px;
    height: 255px;
    margin-left: 60px;
    z-index:7;
    opacity:.6;
    }
.img4ani{
    animation: spread4 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .4s
}
.img5{
    position:absolute;
    width: 413px;
    height: 240px;
    margin-left: 90px;
    margin-top:40px;
    z-index:6;
    opacity:.5;
}
.img5ani{
    animation: spread5 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .5s
}

.img6{
    position:absolute;
    width: 386px;
    height: 234px;
    margin-left: 120px;
    margin-top:44px;
    z-index:5;
    opacity:.4;
}
.img6ani{
    animation: spread6 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .6s
}
.img7{
    position:absolute;
    width: 359px;
    height: 209px;
    margin-left: 130px;
    margin-top:55px;
    z-index:4;
    opacity:.3;
}
.img7ani{
    animation: spread7 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .7s
}
.img8{
    position:absolute;
    width: 332px;
    height: 194px;  
    margin-left: 190px;
    margin-top:65px;
    z-index:3;
    opacity:.2;
}
.img8ani{
    animation: spread8 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .8s
}
.img9{
    position:absolute;
    width: 304px;
    height: 177px;
    margin-left: 180px;
    margin-top:70px;
    z-index:2;
    opacity:.1;
}
.img9ani{
    animation: spread9 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s
}

@keyframes spread{

    100%{
       
        transform:translateX(-65px)
    }
}
@keyframes spread02{

    100%{
       
        transform:translateX(-115px)
    }
}
@keyframes spread03{
    100%{
       
        transform:translateX(-240px)
    }
}
@keyframes spread04{
    100%{
       
        transform:translateX(-350px)
    }
}
@keyframes spread1{
    100%{
       
        transform:translateX(40px)
    }
}
@keyframes spread2{
    100%{
       
        transform:translateX(65px)
    }
}
@keyframes spread3{
    100%{
       
        transform:translateX(100px)
    }
}
@keyframes spread4{
    100%{
       
        transform:translateX(140px)
    }
}
@keyframes spread5{
    100%{
       
        transform:translateX(160px)
    }
}
@keyframes spread6{
    100%{
       
        transform:translateX(175px)
    }
}
@keyframes spread7{
    100%{
       
        transform:translateX(220px)
    }
}
@keyframes spread8{
    100%{
       
        transform:translateX(205px)
    }
}
@keyframes spread9{
    100%{
       
        transform:translateX(265px)
    }
}
.index-text{
    width: 1226px;
    height: 342px;
    padding:300px 0 0 102px;
    color: #000;
    padding-top: 250px;
  margin-left: 240px;
}
.index-text-title{
    font-family: 'F4989e';
    font-size: 60px;
    color: #1d1d1d;
    font-weight: bolder;
    line-height: 1;
   
   
}
.price{
    padding-top: 100px;    
}
.price-num{
    color: red;
    font-family: 'Avenir Medium';
   
}
.webfont{
    font-family: 'F689ec';
    
}
.icon-play{
    background: url(../images/xiaomibox/icon-play-next.png);
    display: inline-block;
    width: 32px;
    height: 20px;
    vertical-align: -4px;
    margin-right: 5px;
    margin-left: 30px;
    background-position: 0 -15px;

}
.icon-next {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-position: 0 0;
    margin-left: 8px;
    vertical-align: -1px;
    background-image: url(../images/xiaomibox/icon-play-next.png);
}
.wall-title{
    line-height: 55px;
    font-size: 50px;
    font-weight: border;
    text-align: center;
    padding-top: 80px;
}
.item-des{
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}
.wall-text-left{    
    width: 420px;
    float: left;
    font-size: 26px;
    margin-left: -40px;
    padding-top: 200px;
}
.wall-text-right{    
    width: 846px;
    float: right;
    line-height: 30px;
    font-size: 20px;
    padding-top: 225px;
  

}
.container{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.compar-title{
    font-size: 35px;
}
.compare-vs{
    float: left;
    width: 67px;
    font-size: 30px;
    color: #212121;
    margin-top: 390px;
    margin-left: 90px;
}
.compare-left{
    float: left;
    width: 525px;
    text-align: center;
    line-height: 0px;
    margin-top: 390px;
    position: relative;
    z-index: 11;

}
.compare-right{
    float: right;
    width: 525px;
    text-align: center;
    line-height: 0px;
    margin-top: -45px;
    position: relative;
    z-index: 11;

}
.game-content{
    padding-top: 208px;
}
.game-content-title{
        width: 1225px;
        height: 110px;
        line-height: 50px;
        font-size: 40px;
        text-align: left;
        margin-left: -55px;
        margin-top: 90px;
}
.game-content-webfont{
    height: 100px;
    width: 1225px;
    line-height: 30px;
    font-size: 16px;
    padding-top: -10px;
    margin-left: -50px;
   text-align: left;
    }
.features  {
    margin-left: 20px;
   
    line-height: 25px;
    text-align: center;
    height: 300px;
    width: 600px;
    float: left;
    display: block;
   
}
.features-1,.features-2,.features-3{
    width: 120px;
    height: 120px;
    float: left;
    margin-left: -100px;
}
.features-2{
    margin-left: 40px;
}
.features-3{
    margin-left: 40px;
}
.icon{

    display: block;
    background-image: url(../images/xiaomibox/icon-all.png);
    margin: 0 auto ;
    width: 62px;
    height: 62px;
}
.icon-1{
    
    background-position: 0 0;

}
.icon-2{
    background-position: -62px 0;
}
.icon-3{
    background-position: -124px 0;
}
.dts-content{
    padding-top: 670px;
    color: #fff;
    margin-left: 365px;
    }

.dts-title{
    margin-top: 20px;
    line-height: 55px;
    font-size: 40px;
    font-weight: bolder;
}
.dts-webfont{
   margin-left: -320px;
   margin-top: 10px;

}
.usb-title{
    padding-top: 50px;
    text-align: center;
    font-size: 40px;    
    font-weight: bolder;
    line-height: 55px;

}
.desigin-title{
    line-height: 55px;
    font-size: 36px;
    text-align: center;
  padding-top: 80px;
}
.desigin-webfont{
    
    line-height: 30px;
    font-size: 16px;
}
.footer-link-title{
    text-align: left;
    position: relative;
    z-index: 3;
    color: #fff;
    font-size: 46px;
    font-weight: bolder;
    animation: 3s change1 infinite linear;


}
.footer-link-btn{
    display: block;
    font-size: 20px;
    position: relative;
    z-index: 3;
    color: #fff;
    margin-top: 20px;
    animation: 3s change1 infinite linear;

}
.foot-content{
    width: 800px;
    padding-top: 100px;
}
.use-container{
    padding-top: 120px;
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
    
}
.group{
    margin: 0 60px 0 45px;
    float: left;
}
.item-title{
    
    margin-top: 28px;
}
.group-font{
    font-size: 24px;
    color: #000;
}
.group-des{
    line-height: 30px;
    font-size: 16px;
}
.icon-lanya{
    background-image: url(../images/xiaomibox/icon-all-2.png);
    width: 44px;
    height: 61px;
    background-position: -143px 0
}
.icon-wifi{
    background-image: url(../images/xiaomibox/icon-all-2.png);
    width: 70px;
    height: 56px;
    background-position: -73px 0;
    
}
.icon-usb{
    background-image: url(../images/xiaomibox/icon-all-2.png);
    margin-bottom: 47px;
    width: 73px;
    height: 35px;
    background-position: 0 0;

}
.Controls1{
        width: 200px;
        height: 200px;
        float: left;
        text-align: center;
        background-position: 0 0 !important;
        background: url(../images/xiaomibox/index-tengxun-icon.png)no-repeat center;
        margin-left: -490px;
        margin-top: -10px;
        background-color:rgb(233, 233, 233);

    }

.Controls2{
    background-position: -192px 0 !important;
    width: 200px;
    height: 200px;
     float: left;
    text-align: center;
    background: url(../images/xiaomibox/index-tengxun-icon.png)no-repeat center;
    margin-left: -300px;
    margin-top: -10px;
    background-color:rgb(233, 233, 233);
}
.Controls3{
    background-position:-408px 0 !important;
    width: 200px;
    height: 200px;
     float: left;
    text-align: center;
    background: url(../images/xiaomibox/index-tengxun-icon.png)no-repeat center;
    margin-left: -110px;
    margin-top:-10px;
    background-color:rgb(233, 233, 233);
}

.Controls4{
    background-position: -605px 0 !important;
    width: 200px;
    height: 200px;
     float: left;
    text-align: center;
    background: url(../images/xiaomibox/index-tengxun-icon.png)no-repeat center;
    margin-left: 80px;
    margin-top: -10px;
    background-color:rgb(233, 233, 233);
    
}

.Controls5{
    background-position: -795px 0 !important;
    width: 200px;
    height: 200px;
     float: left;
    text-align: center;
    background: url(../images/xiaomibox/index-tengxun-icon.png)no-repeat center;
    margin-left: 270px;
    margin-top: -10px;
    background-color:rgb(233, 233, 233);
}
.Controls5:hover,.Controls4:hover,.Controls3:hover,.Controls2:hover,.Controls1:hover{
    background-color:rgb(255, 255, 255);
}
@keyframes change{0%   {background-color: #000}
100% {background-color: #ffff}}
@keyframes change1{0%   {color: #fff}

100% {color: #000}}
