<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyou.dao.OrderGoodsMapper">
  <resultMap id="BaseResultMap" type="com.wuyou.entity.OrderGoods">
    <id column="rec_id" jdbcType="INTEGER" property="recId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_sn" jdbcType="VARCHAR" property="goodsSn" />
    <result column="goods_num" jdbcType="SMALLINT" property="goodsNum" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="cost_price" jdbcType="DECIMAL" property="costPrice" />
    <result column="member_goods_price" jdbcType="DECIMAL" property="memberGoodsPrice" />
    <result column="give_integral" jdbcType="INTEGER" property="giveIntegral" />
    <result column="spec_key" jdbcType="VARCHAR" property="specKey" />
    <result column="spec_key_name" jdbcType="VARCHAR" property="specKeyName" />
    <result column="bar_code" jdbcType="VARCHAR" property="barCode" />
    <result column="is_comment" jdbcType="BIT" property="isComment" />
    <result column="prom_type" jdbcType="BIT" property="promType" />
    <result column="prom_id" jdbcType="INTEGER" property="promId" />
    <result column="is_send" jdbcType="BIT" property="isSend" />
    <result column="delivery_id" jdbcType="INTEGER" property="deliveryId" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    rec_id, order_id, goods_id, goods_name, goods_sn, goods_num, market_price, goods_price, 
    cost_price, member_goods_price, give_integral, spec_key, spec_key_name, bar_code, 
    is_comment, prom_type, prom_id, is_send, delivery_id, sku
  </sql>
  <select id="selectByExample" parameterType="com.wuyou.entity.OrderGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from order_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_goods
    where rec_id = #{recId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_goods
    where rec_id = #{recId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuyou.entity.OrderGoodsExample">
    delete from order_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuyou.entity.OrderGoods">
    insert into order_goods (rec_id, order_id, goods_id, 
      goods_name, goods_sn, goods_num, 
      market_price, goods_price, cost_price, 
      member_goods_price, give_integral, spec_key, 
      spec_key_name, bar_code, is_comment, 
      prom_type, prom_id, is_send, delivery_id, 
      sku)
    values (#{recId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, 
      #{goodsName,jdbcType=VARCHAR}, #{goodsSn,jdbcType=VARCHAR}, #{goodsNum,jdbcType=SMALLINT}, 
      #{marketPrice,jdbcType=DECIMAL}, #{goodsPrice,jdbcType=DECIMAL}, #{costPrice,jdbcType=DECIMAL}, 
      #{memberGoodsPrice,jdbcType=DECIMAL}, #{giveIntegral,jdbcType=INTEGER}, #{specKey,jdbcType=VARCHAR}, 
      #{specKeyName,jdbcType=VARCHAR}, #{barCode,jdbcType=VARCHAR}, #{isComment,jdbcType=BIT}, 
      #{promType,jdbcType=BIT}, #{promId,jdbcType=INTEGER}, #{isSend,jdbcType=BIT}, #{deliveryId,jdbcType=INTEGER}, 
      #{sku,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuyou.entity.OrderGoods">
    insert into order_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recId != null">
        rec_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsSn != null">
        goods_sn,
      </if>
      <if test="goodsNum != null">
        goods_num,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="costPrice != null">
        cost_price,
      </if>
      <if test="memberGoodsPrice != null">
        member_goods_price,
      </if>
      <if test="giveIntegral != null">
        give_integral,
      </if>
      <if test="specKey != null">
        spec_key,
      </if>
      <if test="specKeyName != null">
        spec_key_name,
      </if>
      <if test="barCode != null">
        bar_code,
      </if>
      <if test="isComment != null">
        is_comment,
      </if>
      <if test="promType != null">
        prom_type,
      </if>
      <if test="promId != null">
        prom_id,
      </if>
      <if test="isSend != null">
        is_send,
      </if>
      <if test="deliveryId != null">
        delivery_id,
      </if>
      <if test="sku != null">
        sku,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recId != null">
        #{recId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSn != null">
        #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        #{goodsNum,jdbcType=SMALLINT},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="costPrice != null">
        #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="memberGoodsPrice != null">
        #{memberGoodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="giveIntegral != null">
        #{giveIntegral,jdbcType=INTEGER},
      </if>
      <if test="specKey != null">
        #{specKey,jdbcType=VARCHAR},
      </if>
      <if test="specKeyName != null">
        #{specKeyName,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null">
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="isComment != null">
        #{isComment,jdbcType=BIT},
      </if>
      <if test="promType != null">
        #{promType,jdbcType=BIT},
      </if>
      <if test="promId != null">
        #{promId,jdbcType=INTEGER},
      </if>
      <if test="isSend != null">
        #{isSend,jdbcType=BIT},
      </if>
      <if test="deliveryId != null">
        #{deliveryId,jdbcType=INTEGER},
      </if>
      <if test="sku != null">
        #{sku,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuyou.entity.OrderGoodsExample" resultType="java.lang.Integer">
    select count(*) from order_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update order_goods
    <set>
      <if test="record.recId != null">
        rec_id = #{record.recId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSn != null">
        goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsNum != null">
        goods_num = #{record.goodsNum,jdbcType=SMALLINT},
      </if>
      <if test="record.marketPrice != null">
        market_price = #{record.marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsPrice != null">
        goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.costPrice != null">
        cost_price = #{record.costPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.memberGoodsPrice != null">
        member_goods_price = #{record.memberGoodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.giveIntegral != null">
        give_integral = #{record.giveIntegral,jdbcType=INTEGER},
      </if>
      <if test="record.specKey != null">
        spec_key = #{record.specKey,jdbcType=VARCHAR},
      </if>
      <if test="record.specKeyName != null">
        spec_key_name = #{record.specKeyName,jdbcType=VARCHAR},
      </if>
      <if test="record.barCode != null">
        bar_code = #{record.barCode,jdbcType=VARCHAR},
      </if>
      <if test="record.isComment != null">
        is_comment = #{record.isComment,jdbcType=BIT},
      </if>
      <if test="record.promType != null">
        prom_type = #{record.promType,jdbcType=BIT},
      </if>
      <if test="record.promId != null">
        prom_id = #{record.promId,jdbcType=INTEGER},
      </if>
      <if test="record.isSend != null">
        is_send = #{record.isSend,jdbcType=BIT},
      </if>
      <if test="record.deliveryId != null">
        delivery_id = #{record.deliveryId,jdbcType=INTEGER},
      </if>
      <if test="record.sku != null">
        sku = #{record.sku,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update order_goods
    set rec_id = #{record.recId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      goods_id = #{record.goodsId,jdbcType=INTEGER},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      goods_sn = #{record.goodsSn,jdbcType=VARCHAR},
      goods_num = #{record.goodsNum,jdbcType=SMALLINT},
      market_price = #{record.marketPrice,jdbcType=DECIMAL},
      goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
      cost_price = #{record.costPrice,jdbcType=DECIMAL},
      member_goods_price = #{record.memberGoodsPrice,jdbcType=DECIMAL},
      give_integral = #{record.giveIntegral,jdbcType=INTEGER},
      spec_key = #{record.specKey,jdbcType=VARCHAR},
      spec_key_name = #{record.specKeyName,jdbcType=VARCHAR},
      bar_code = #{record.barCode,jdbcType=VARCHAR},
      is_comment = #{record.isComment,jdbcType=BIT},
      prom_type = #{record.promType,jdbcType=BIT},
      prom_id = #{record.promId,jdbcType=INTEGER},
      is_send = #{record.isSend,jdbcType=BIT},
      delivery_id = #{record.deliveryId,jdbcType=INTEGER},
      sku = #{record.sku,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuyou.entity.OrderGoods">
    update order_goods
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsSn != null">
        goods_sn = #{goodsSn,jdbcType=VARCHAR},
      </if>
      <if test="goodsNum != null">
        goods_num = #{goodsNum,jdbcType=SMALLINT},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="costPrice != null">
        cost_price = #{costPrice,jdbcType=DECIMAL},
      </if>
      <if test="memberGoodsPrice != null">
        member_goods_price = #{memberGoodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="giveIntegral != null">
        give_integral = #{giveIntegral,jdbcType=INTEGER},
      </if>
      <if test="specKey != null">
        spec_key = #{specKey,jdbcType=VARCHAR},
      </if>
      <if test="specKeyName != null">
        spec_key_name = #{specKeyName,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null">
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="isComment != null">
        is_comment = #{isComment,jdbcType=BIT},
      </if>
      <if test="promType != null">
        prom_type = #{promType,jdbcType=BIT},
      </if>
      <if test="promId != null">
        prom_id = #{promId,jdbcType=INTEGER},
      </if>
      <if test="isSend != null">
        is_send = #{isSend,jdbcType=BIT},
      </if>
      <if test="deliveryId != null">
        delivery_id = #{deliveryId,jdbcType=INTEGER},
      </if>
      <if test="sku != null">
        sku = #{sku,jdbcType=VARCHAR},
      </if>
    </set>
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuyou.entity.OrderGoods">
    update order_goods
    set order_id = #{orderId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_sn = #{goodsSn,jdbcType=VARCHAR},
      goods_num = #{goodsNum,jdbcType=SMALLINT},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      cost_price = #{costPrice,jdbcType=DECIMAL},
      member_goods_price = #{memberGoodsPrice,jdbcType=DECIMAL},
      give_integral = #{giveIntegral,jdbcType=INTEGER},
      spec_key = #{specKey,jdbcType=VARCHAR},
      spec_key_name = #{specKeyName,jdbcType=VARCHAR},
      bar_code = #{barCode,jdbcType=VARCHAR},
      is_comment = #{isComment,jdbcType=BIT},
      prom_type = #{promType,jdbcType=BIT},
      prom_id = #{promId,jdbcType=INTEGER},
      is_send = #{isSend,jdbcType=BIT},
      delivery_id = #{deliveryId,jdbcType=INTEGER},
      sku = #{sku,jdbcType=VARCHAR}
    where rec_id = #{recId,jdbcType=INTEGER}
  </update>
</mapper>