<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyou.dao.UserMapper">
    
    <!-- 根据id查找用户信息 -->
   <select id="findById" parameterType="java.lang.Integer" resultType="com.wuyou.entity.User">
     select * from Users where id=#{id}  
   </select>



</mapper>