<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyou.dao.WxUserMapper">
  <resultMap id="BaseResultMap" type="com.wuyou.entity.WxUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="wxname" jdbcType="VARCHAR" property="wxname" />
    <result column="aeskey" jdbcType="VARCHAR" property="aeskey" />
    <result column="encode" jdbcType="BIT" property="encode" />
    <result column="appid" jdbcType="VARCHAR" property="appid" />
    <result column="appsecret" jdbcType="VARCHAR" property="appsecret" />
    <result column="wxid" jdbcType="VARCHAR" property="wxid" />
    <result column="weixin" jdbcType="CHAR" property="weixin" />
    <result column="headerpic" jdbcType="CHAR" property="headerpic" />
    <result column="token" jdbcType="CHAR" property="token" />
    <result column="w_token" jdbcType="VARCHAR" property="wToken" />
    <result column="create_time" jdbcType="INTEGER" property="createTime" />
    <result column="updatetime" jdbcType="INTEGER" property="updatetime" />
    <result column="tplcontentid" jdbcType="VARCHAR" property="tplcontentid" />
    <result column="share_ticket" jdbcType="VARCHAR" property="shareTicket" />
    <result column="share_dated" jdbcType="CHAR" property="shareDated" />
    <result column="authorizer_access_token" jdbcType="VARCHAR" property="authorizerAccessToken" />
    <result column="authorizer_refresh_token" jdbcType="VARCHAR" property="authorizerRefreshToken" />
    <result column="authorizer_expires" jdbcType="CHAR" property="authorizerExpires" />
    <result column="type" jdbcType="BIT" property="type" />
    <result column="web_access_token" jdbcType="VARCHAR" property="webAccessToken" />
    <result column="web_refresh_token" jdbcType="VARCHAR" property="webRefreshToken" />
    <result column="web_expires" jdbcType="INTEGER" property="webExpires" />
    <result column="qr" jdbcType="VARCHAR" property="qr" />
    <result column="wait_access" jdbcType="BIT" property="waitAccess" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.wuyou.entity.WxUser">
    <result column="menu_config" jdbcType="LONGVARCHAR" property="menuConfig" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, uid, wxname, aeskey, encode, appid, appsecret, wxid, weixin, headerpic, token, 
    w_token, create_time, updatetime, tplcontentid, share_ticket, share_dated, authorizer_access_token, 
    authorizer_refresh_token, authorizer_expires, type, web_access_token, web_refresh_token, 
    web_expires, qr, wait_access
  </sql>
  <sql id="Blob_Column_List">
    menu_config
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.wuyou.entity.WxUserExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.wuyou.entity.WxUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from wx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wx_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from wx_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wuyou.entity.WxUserExample">
    delete from wx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wuyou.entity.WxUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into wx_user (uid, wxname, aeskey, 
      encode, appid, appsecret, 
      wxid, weixin, headerpic, 
      token, w_token, create_time, 
      updatetime, tplcontentid, share_ticket, 
      share_dated, authorizer_access_token, authorizer_refresh_token, 
      authorizer_expires, type, web_access_token, 
      web_refresh_token, web_expires, qr, 
      wait_access, menu_config)
    values (#{uid,jdbcType=INTEGER}, #{wxname,jdbcType=VARCHAR}, #{aeskey,jdbcType=VARCHAR}, 
      #{encode,jdbcType=BIT}, #{appid,jdbcType=VARCHAR}, #{appsecret,jdbcType=VARCHAR}, 
      #{wxid,jdbcType=VARCHAR}, #{weixin,jdbcType=CHAR}, #{headerpic,jdbcType=CHAR}, 
      #{token,jdbcType=CHAR}, #{wToken,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, 
      #{updatetime,jdbcType=INTEGER}, #{tplcontentid,jdbcType=VARCHAR}, #{shareTicket,jdbcType=VARCHAR}, 
      #{shareDated,jdbcType=CHAR}, #{authorizerAccessToken,jdbcType=VARCHAR}, #{authorizerRefreshToken,jdbcType=VARCHAR}, 
      #{authorizerExpires,jdbcType=CHAR}, #{type,jdbcType=BIT}, #{webAccessToken,jdbcType=VARCHAR}, 
      #{webRefreshToken,jdbcType=VARCHAR}, #{webExpires,jdbcType=INTEGER}, #{qr,jdbcType=VARCHAR}, 
      #{waitAccess,jdbcType=BIT}, #{menuConfig,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuyou.entity.WxUser">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into wx_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="wxname != null">
        wxname,
      </if>
      <if test="aeskey != null">
        aeskey,
      </if>
      <if test="encode != null">
        encode,
      </if>
      <if test="appid != null">
        appid,
      </if>
      <if test="appsecret != null">
        appsecret,
      </if>
      <if test="wxid != null">
        wxid,
      </if>
      <if test="weixin != null">
        weixin,
      </if>
      <if test="headerpic != null">
        headerpic,
      </if>
      <if test="token != null">
        token,
      </if>
      <if test="wToken != null">
        w_token,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updatetime != null">
        updatetime,
      </if>
      <if test="tplcontentid != null">
        tplcontentid,
      </if>
      <if test="shareTicket != null">
        share_ticket,
      </if>
      <if test="shareDated != null">
        share_dated,
      </if>
      <if test="authorizerAccessToken != null">
        authorizer_access_token,
      </if>
      <if test="authorizerRefreshToken != null">
        authorizer_refresh_token,
      </if>
      <if test="authorizerExpires != null">
        authorizer_expires,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="webAccessToken != null">
        web_access_token,
      </if>
      <if test="webRefreshToken != null">
        web_refresh_token,
      </if>
      <if test="webExpires != null">
        web_expires,
      </if>
      <if test="qr != null">
        qr,
      </if>
      <if test="waitAccess != null">
        wait_access,
      </if>
      <if test="menuConfig != null">
        menu_config,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="wxname != null">
        #{wxname,jdbcType=VARCHAR},
      </if>
      <if test="aeskey != null">
        #{aeskey,jdbcType=VARCHAR},
      </if>
      <if test="encode != null">
        #{encode,jdbcType=BIT},
      </if>
      <if test="appid != null">
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null">
        #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="wxid != null">
        #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        #{weixin,jdbcType=CHAR},
      </if>
      <if test="headerpic != null">
        #{headerpic,jdbcType=CHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=CHAR},
      </if>
      <if test="wToken != null">
        #{wToken,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="tplcontentid != null">
        #{tplcontentid,jdbcType=VARCHAR},
      </if>
      <if test="shareTicket != null">
        #{shareTicket,jdbcType=VARCHAR},
      </if>
      <if test="shareDated != null">
        #{shareDated,jdbcType=CHAR},
      </if>
      <if test="authorizerAccessToken != null">
        #{authorizerAccessToken,jdbcType=VARCHAR},
      </if>
      <if test="authorizerRefreshToken != null">
        #{authorizerRefreshToken,jdbcType=VARCHAR},
      </if>
      <if test="authorizerExpires != null">
        #{authorizerExpires,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=BIT},
      </if>
      <if test="webAccessToken != null">
        #{webAccessToken,jdbcType=VARCHAR},
      </if>
      <if test="webRefreshToken != null">
        #{webRefreshToken,jdbcType=VARCHAR},
      </if>
      <if test="webExpires != null">
        #{webExpires,jdbcType=INTEGER},
      </if>
      <if test="qr != null">
        #{qr,jdbcType=VARCHAR},
      </if>
      <if test="waitAccess != null">
        #{waitAccess,jdbcType=BIT},
      </if>
      <if test="menuConfig != null">
        #{menuConfig,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wuyou.entity.WxUserExample" resultType="java.lang.Integer">
    select count(*) from wx_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update wx_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.wxname != null">
        wxname = #{record.wxname,jdbcType=VARCHAR},
      </if>
      <if test="record.aeskey != null">
        aeskey = #{record.aeskey,jdbcType=VARCHAR},
      </if>
      <if test="record.encode != null">
        encode = #{record.encode,jdbcType=BIT},
      </if>
      <if test="record.appid != null">
        appid = #{record.appid,jdbcType=VARCHAR},
      </if>
      <if test="record.appsecret != null">
        appsecret = #{record.appsecret,jdbcType=VARCHAR},
      </if>
      <if test="record.wxid != null">
        wxid = #{record.wxid,jdbcType=VARCHAR},
      </if>
      <if test="record.weixin != null">
        weixin = #{record.weixin,jdbcType=CHAR},
      </if>
      <if test="record.headerpic != null">
        headerpic = #{record.headerpic,jdbcType=CHAR},
      </if>
      <if test="record.token != null">
        token = #{record.token,jdbcType=CHAR},
      </if>
      <if test="record.wToken != null">
        w_token = #{record.wToken,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updatetime != null">
        updatetime = #{record.updatetime,jdbcType=INTEGER},
      </if>
      <if test="record.tplcontentid != null">
        tplcontentid = #{record.tplcontentid,jdbcType=VARCHAR},
      </if>
      <if test="record.shareTicket != null">
        share_ticket = #{record.shareTicket,jdbcType=VARCHAR},
      </if>
      <if test="record.shareDated != null">
        share_dated = #{record.shareDated,jdbcType=CHAR},
      </if>
      <if test="record.authorizerAccessToken != null">
        authorizer_access_token = #{record.authorizerAccessToken,jdbcType=VARCHAR},
      </if>
      <if test="record.authorizerRefreshToken != null">
        authorizer_refresh_token = #{record.authorizerRefreshToken,jdbcType=VARCHAR},
      </if>
      <if test="record.authorizerExpires != null">
        authorizer_expires = #{record.authorizerExpires,jdbcType=CHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=BIT},
      </if>
      <if test="record.webAccessToken != null">
        web_access_token = #{record.webAccessToken,jdbcType=VARCHAR},
      </if>
      <if test="record.webRefreshToken != null">
        web_refresh_token = #{record.webRefreshToken,jdbcType=VARCHAR},
      </if>
      <if test="record.webExpires != null">
        web_expires = #{record.webExpires,jdbcType=INTEGER},
      </if>
      <if test="record.qr != null">
        qr = #{record.qr,jdbcType=VARCHAR},
      </if>
      <if test="record.waitAccess != null">
        wait_access = #{record.waitAccess,jdbcType=BIT},
      </if>
      <if test="record.menuConfig != null">
        menu_config = #{record.menuConfig,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update wx_user
    set id = #{record.id,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      wxname = #{record.wxname,jdbcType=VARCHAR},
      aeskey = #{record.aeskey,jdbcType=VARCHAR},
      encode = #{record.encode,jdbcType=BIT},
      appid = #{record.appid,jdbcType=VARCHAR},
      appsecret = #{record.appsecret,jdbcType=VARCHAR},
      wxid = #{record.wxid,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=CHAR},
      headerpic = #{record.headerpic,jdbcType=CHAR},
      token = #{record.token,jdbcType=CHAR},
      w_token = #{record.wToken,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=INTEGER},
      updatetime = #{record.updatetime,jdbcType=INTEGER},
      tplcontentid = #{record.tplcontentid,jdbcType=VARCHAR},
      share_ticket = #{record.shareTicket,jdbcType=VARCHAR},
      share_dated = #{record.shareDated,jdbcType=CHAR},
      authorizer_access_token = #{record.authorizerAccessToken,jdbcType=VARCHAR},
      authorizer_refresh_token = #{record.authorizerRefreshToken,jdbcType=VARCHAR},
      authorizer_expires = #{record.authorizerExpires,jdbcType=CHAR},
      type = #{record.type,jdbcType=BIT},
      web_access_token = #{record.webAccessToken,jdbcType=VARCHAR},
      web_refresh_token = #{record.webRefreshToken,jdbcType=VARCHAR},
      web_expires = #{record.webExpires,jdbcType=INTEGER},
      qr = #{record.qr,jdbcType=VARCHAR},
      wait_access = #{record.waitAccess,jdbcType=BIT},
      menu_config = #{record.menuConfig,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update wx_user
    set id = #{record.id,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      wxname = #{record.wxname,jdbcType=VARCHAR},
      aeskey = #{record.aeskey,jdbcType=VARCHAR},
      encode = #{record.encode,jdbcType=BIT},
      appid = #{record.appid,jdbcType=VARCHAR},
      appsecret = #{record.appsecret,jdbcType=VARCHAR},
      wxid = #{record.wxid,jdbcType=VARCHAR},
      weixin = #{record.weixin,jdbcType=CHAR},
      headerpic = #{record.headerpic,jdbcType=CHAR},
      token = #{record.token,jdbcType=CHAR},
      w_token = #{record.wToken,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=INTEGER},
      updatetime = #{record.updatetime,jdbcType=INTEGER},
      tplcontentid = #{record.tplcontentid,jdbcType=VARCHAR},
      share_ticket = #{record.shareTicket,jdbcType=VARCHAR},
      share_dated = #{record.shareDated,jdbcType=CHAR},
      authorizer_access_token = #{record.authorizerAccessToken,jdbcType=VARCHAR},
      authorizer_refresh_token = #{record.authorizerRefreshToken,jdbcType=VARCHAR},
      authorizer_expires = #{record.authorizerExpires,jdbcType=CHAR},
      type = #{record.type,jdbcType=BIT},
      web_access_token = #{record.webAccessToken,jdbcType=VARCHAR},
      web_refresh_token = #{record.webRefreshToken,jdbcType=VARCHAR},
      web_expires = #{record.webExpires,jdbcType=INTEGER},
      qr = #{record.qr,jdbcType=VARCHAR},
      wait_access = #{record.waitAccess,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuyou.entity.WxUser">
    update wx_user
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="wxname != null">
        wxname = #{wxname,jdbcType=VARCHAR},
      </if>
      <if test="aeskey != null">
        aeskey = #{aeskey,jdbcType=VARCHAR},
      </if>
      <if test="encode != null">
        encode = #{encode,jdbcType=BIT},
      </if>
      <if test="appid != null">
        appid = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="appsecret != null">
        appsecret = #{appsecret,jdbcType=VARCHAR},
      </if>
      <if test="wxid != null">
        wxid = #{wxid,jdbcType=VARCHAR},
      </if>
      <if test="weixin != null">
        weixin = #{weixin,jdbcType=CHAR},
      </if>
      <if test="headerpic != null">
        headerpic = #{headerpic,jdbcType=CHAR},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=CHAR},
      </if>
      <if test="wToken != null">
        w_token = #{wToken,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null">
        updatetime = #{updatetime,jdbcType=INTEGER},
      </if>
      <if test="tplcontentid != null">
        tplcontentid = #{tplcontentid,jdbcType=VARCHAR},
      </if>
      <if test="shareTicket != null">
        share_ticket = #{shareTicket,jdbcType=VARCHAR},
      </if>
      <if test="shareDated != null">
        share_dated = #{shareDated,jdbcType=CHAR},
      </if>
      <if test="authorizerAccessToken != null">
        authorizer_access_token = #{authorizerAccessToken,jdbcType=VARCHAR},
      </if>
      <if test="authorizerRefreshToken != null">
        authorizer_refresh_token = #{authorizerRefreshToken,jdbcType=VARCHAR},
      </if>
      <if test="authorizerExpires != null">
        authorizer_expires = #{authorizerExpires,jdbcType=CHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIT},
      </if>
      <if test="webAccessToken != null">
        web_access_token = #{webAccessToken,jdbcType=VARCHAR},
      </if>
      <if test="webRefreshToken != null">
        web_refresh_token = #{webRefreshToken,jdbcType=VARCHAR},
      </if>
      <if test="webExpires != null">
        web_expires = #{webExpires,jdbcType=INTEGER},
      </if>
      <if test="qr != null">
        qr = #{qr,jdbcType=VARCHAR},
      </if>
      <if test="waitAccess != null">
        wait_access = #{waitAccess,jdbcType=BIT},
      </if>
      <if test="menuConfig != null">
        menu_config = #{menuConfig,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wuyou.entity.WxUser">
    update wx_user
    set uid = #{uid,jdbcType=INTEGER},
      wxname = #{wxname,jdbcType=VARCHAR},
      aeskey = #{aeskey,jdbcType=VARCHAR},
      encode = #{encode,jdbcType=BIT},
      appid = #{appid,jdbcType=VARCHAR},
      appsecret = #{appsecret,jdbcType=VARCHAR},
      wxid = #{wxid,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=CHAR},
      headerpic = #{headerpic,jdbcType=CHAR},
      token = #{token,jdbcType=CHAR},
      w_token = #{wToken,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=INTEGER},
      tplcontentid = #{tplcontentid,jdbcType=VARCHAR},
      share_ticket = #{shareTicket,jdbcType=VARCHAR},
      share_dated = #{shareDated,jdbcType=CHAR},
      authorizer_access_token = #{authorizerAccessToken,jdbcType=VARCHAR},
      authorizer_refresh_token = #{authorizerRefreshToken,jdbcType=VARCHAR},
      authorizer_expires = #{authorizerExpires,jdbcType=CHAR},
      type = #{type,jdbcType=BIT},
      web_access_token = #{webAccessToken,jdbcType=VARCHAR},
      web_refresh_token = #{webRefreshToken,jdbcType=VARCHAR},
      web_expires = #{webExpires,jdbcType=INTEGER},
      qr = #{qr,jdbcType=VARCHAR},
      wait_access = #{waitAccess,jdbcType=BIT},
      menu_config = #{menuConfig,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuyou.entity.WxUser">
    update wx_user
    set uid = #{uid,jdbcType=INTEGER},
      wxname = #{wxname,jdbcType=VARCHAR},
      aeskey = #{aeskey,jdbcType=VARCHAR},
      encode = #{encode,jdbcType=BIT},
      appid = #{appid,jdbcType=VARCHAR},
      appsecret = #{appsecret,jdbcType=VARCHAR},
      wxid = #{wxid,jdbcType=VARCHAR},
      weixin = #{weixin,jdbcType=CHAR},
      headerpic = #{headerpic,jdbcType=CHAR},
      token = #{token,jdbcType=CHAR},
      w_token = #{wToken,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=INTEGER},
      tplcontentid = #{tplcontentid,jdbcType=VARCHAR},
      share_ticket = #{shareTicket,jdbcType=VARCHAR},
      share_dated = #{shareDated,jdbcType=CHAR},
      authorizer_access_token = #{authorizerAccessToken,jdbcType=VARCHAR},
      authorizer_refresh_token = #{authorizerRefreshToken,jdbcType=VARCHAR},
      authorizer_expires = #{authorizerExpires,jdbcType=CHAR},
      type = #{type,jdbcType=BIT},
      web_access_token = #{webAccessToken,jdbcType=VARCHAR},
      web_refresh_token = #{webRefreshToken,jdbcType=VARCHAR},
      web_expires = #{webExpires,jdbcType=INTEGER},
      qr = #{qr,jdbcType=VARCHAR},
      wait_access = #{waitAccess,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>